#prompt 
{
    float:left;
}

.operation {
    width: 5px;
    text-align: right;
}

.number {
    width: 20px;
    text-align: right;
}

.separator {
    width: 15px;
    text-align: left;
}

.letter {
    width: 20px;
    text-align: left;
}

